// @import '../../styles/utilities/colors.scss';
// Default Colors
$white: #ffffff;
$lighter-grey: #e7e7e7;
$light-grey: #acacac;
$dark-grey: #24282f;
$aqua: #53bbd0;

.rendered-cards {
  background-color: $dark-grey;
  color: $white;
}

.rendered-cards--header {
  margin: 0;
  padding: 0.15rem;
  h3 {
    margin: .5rem;
  }
}

.rendered-cards--results {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1920px;
}